/*
RED: #e01e3c;
BLACK: #161616;
WHITE: #ffffff;

 font-family: 'Oswald', sans-serif;
font-family: 'Nunito Sans', sans-serif; */


/************************************************************
GENERAL STYLES */
h1, h2, h3{
    font-family: 'Nunito Sans', sans-serif;
}
h1{
    font-size: 70px;
    font-weight: 700;
}
h2{
    font-size: 50px;
    font-weight: 700;
}
h3{
    font-size: 36px;
    font-weight: 700;
}
p{
    font-family: 'sans-serif';
}

button{
    font-family: 'Oswald', sans-serif;
    font-size: 12px
}

/************************************************************
HEADER STYLES */
header{
    height: 80px;
    background: #161616;
    padding-top: 20px;

}

header .logo {
    background-image: url('../img/logo.svg');
    height: 40px;
    width: 40px;
    background-size: 40px;

}


/* Desktop */
.desktop-nav ul{
    float: right;
    margin-top: 10px;
    padding-left: 0;
    width: calc(100% - 60px);
    text-align: right;

}
.desktop-nav li{
    display: inline-block;
    margin-left: 25px;
}

.desktop-nav a,
.desktop-nav a:visited{
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.desktop-nav a:hover,
.desktop-nav a:focus,
.desktop-nav a:active{
    opacity: 0.9;
    text-decoration: none;
    color: white;

}

.desktop-nav .logo{
    float: left;
}



/* mobile */
.mobile-nav{
    display: none;
    text-align: center;
}


.mobile-nav .logo{
    display: inline-block;
}

.mobile-nav .hamburger-container,
.mobile-nav .search-container{
    width: 40px;
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
    margin-top: 8px;
}

.mobile-nav .logo-container{
    display: inline-block;
    margin-left: -4px;
    width: calc(100% - 80px)
}

.mobile-nav button{
    background: transparent;
    border: none;
    color: white;

}
@media (max-width: 786px) {
    .mobile-nav{
        display: block;
    }
    .desktop-nav{
        display:none;
    }
}



/************************************************************
HERO STYLES */

.hero{
    /* the minus 80 px is to make room for the header */
    height: calc(100vh - 80px);
    background: #999;
    background-image: url(../img/hero-large.jpg);
    background-size: cover;
}



/************************************************************
PRODUCT LINEUP STYLES */

.product-lineup-container{
    height: 400px;
    background: #333;
}



/************************************************************
FEATURED PRODUCT STYLES */

.featured-product-container{
    height: 400px;
    background: #444;
}



/************************************************************
PRODUCT SUPPORT STYLES */

.product-support-container{
    height: 400px;
    background: #555;
}



/************************************************************
SUBSCRIPTION STYLES */

.subscription-container{
    height: 400px;
    background: #666;
}


/************************************************************
FOOTER STYLES */

footer{
    height: 400px;
    background: #161616;
}
